*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.receitas {
  display: flex;
  gap: 20px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.receitas > div {
  width: 400px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(251, 251, 251);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  height: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
